
@mixin scroll-bar($scroll-height:5px, $scroll-width:5px) {
    overflow-y: auto;
       &::-webkit-scrollbar {
        width:  $scroll-width; /* set the width of the scrollbar */
        height: $scroll-height; /* set the height of the scrollbar */
        }
        &::-webkit-scrollbar-thumb {
        background-color: #ccc; /* set the color of the scrollbar thumb */
        border-radius: 4px; /* set the border radius of the scrollbar thumb */
        }
        &::-webkit-scrollbar-track {
        background-color: #f1f1f15f; /* set the color of the scrollbar track */
        border-radius: 4px; /* set the border radius of the scrollbar track */
        }
  }


.webapp-body{
background: linear-gradient( #f1faf4,#e2e2e2, #e3e3e3,#f5fdf8); /* add a linear gradient from top left to bottom right, using three color stops */
   max-height: 100vh !important;
   height: 100vh !important;
   padding: 0;
   margin: 0; 
   @include scroll-bar(5px, 5px)


}
.sidebar{
   transition: width 0.5s ease-in-out;
   height: 100% !important;
   position: relative;
    .sidebar-title{
        height: 10% !important;
    }
    .sidebar-menu-options{ 
       height: 75% !important;
       padding: 0.3em;
       ul{
            display: block;
            max-height: 100%;
            @include scroll-bar(5px, 5px)
       }
       @include scroll-bar(5px, 5px)
       
   }
   .sidebar-logo{
        height: 15%;
        padding: 1em;
        img{
            height: 100%;
        }
   } 
}
.bg-cercuits-1{
    background-color: #2B5334;
    color: #ccc;
    a{
        color: #f7f7f7;
    }
}

